<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OCR.Properties.Settings>
            <setting name="ImageApprentissage" serializeAs="String">
                <value>train-images.idx3-ubyte</value>
            </setting>
            <setting name="LabelApprentissage" serializeAs="String">
                <value>train-labels.idx1-ubyte</value>
            </setting>
            <setting name="ImageTest" serializeAs="String">
                <value>t10k-images.idx3-ubyte</value>
            </setting>
            <setting name="LabelTest" serializeAs="String">
                <value>t10k-labels.idx1-ubyte</value>
            </setting>
            <setting name="NbPalierBackpropagation" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="Eta" serializeAs="String">
                <value>0,794183335</value>
            </setting>
            <setting name="MinimumEta" serializeAs="String">
                <value>0,00005</value>
            </setting>
            <setting name="EtaInitial" serializeAs="String">
                <value>0,001</value>
            </setting>
            <setting name="Chiffres_P" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Minuscules_P" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Majuscules_P" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Chiffres_M" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Majuscules_M" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Minuscules_M" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Transco" serializeAs="String">
                <value>transco.txt</value>
            </setting>
            <setting name="Chiffres_Printed" serializeAs="String">
                <value>Chiffres_Printed.txt</value>
            </setting>
            <setting name="Majuscules_Printed" serializeAs="String">
                <value>Majuscules_Printed.txt</value>
            </setting>
            <setting name="Minuscules_Printed" serializeAs="String">
                <value>Minuscules_Printed.txt</value>
            </setting>
            <setting name="PathMnist" serializeAs="String">
                <value>C:\BaseData</value>
            </setting>
            <setting name="EstimatedCurrentMSE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PathPolicesMajuscules" serializeAs="String">
                <value>C:\BaseData\Fnt</value>
            </setting>
            <setting name="Parametrage" serializeAs="String">
                <value>C:\Traitement\parametrage</value>
            </setting>
            <setting name="PathPolicesMinuscules" serializeAs="String">
                <value>C:\BaseData\Fnt</value>
            </setting>
            <setting name="PathPolicesChiffres" serializeAs="String">
                <value>C:\BaseData\Fnt</value>
            </setting>
            <setting name="PathPolicesAutres" serializeAs="String">
                <value>C:\BaseData\Police\Autres</value>
            </setting>
            <setting name="ImagesTestCaracteresImrpimes" serializeAs="String">
                <value>Majuscules_Printed.txt</value>
            </setting>
        </OCR.Properties.Settings>
    </userSettings>
</configuration>